@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body, html{
    margin: 0;
}

body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: url('images/bg-2.jpg');
    overflow: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    position: absolute;
    margin-top: -1em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2em);
    padding-top: 1.5em;
    align-items: center;


    .brand-logo{
        
        img{
            width: 25px;
        }
        
    }

    .ham{
        cursor: pointer;
        
        img{
            transition: 0.6s;
            transform-style: preserve-3d;
            width: 50px;
            
        }
        img:hover{
            
            transform: rotateY(180deg);
        }
    }

}

.active-nav{
    display: flex !important;
}

.navarea{
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    background-color: #707070;
    display: none;
    justify-content: flex-start;
    align-items: center;
    z-index: 20;
    box-shadow:  8px 0px 8px 10px #888888;
    

    .cross{
        position: absolute;
        top: 1em;
        right: 1em;
        width: 30px;
        cursor: pointer;
    }

    ul{

        li{
            list-style-type: none;
            margin: 20px 0px;
            transition: 0.4s;
            a{
                text-decoration: none;
                font-size: 1.7em;
                font-weight: 700;
                color: white;
            }

        } 

        li:hover{
            transform: scale(1.3);
        }
    }


}

.watermark{
    position: absolute;
    left: 0;
    padding-left: 2.5%;
    padding-top: 4em;
    z-index: -20;
    width: 475px;
}

body .container{
    padding: 0em 1em 3em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    .title-text{
        
        h1{
            font-size: 2.5em;
            font-weight: 800;
        }

        h3{
            font-weight: 200;
            font-style: italic;
        }
    }

    .btns{
        padding-top: 4em;

        .project-btn{
            margin: 10px;
            padding: 12px 20px;
            font-size: 2em;
            font-weight: 400;
            color: black;
            border: 6px solid #707070;
            cursor: pointer;
            background: transparent;
            transition: 0.3s;
        }

        .project-btn:hover{
            color: white;
            background: #707070;
            transform: scale(1.2);
        }
    }
}

footer{
    position: absolute;
    bottom: 0em;
    right: 0em;

    .connect{
        transform: scale(0.7);
        img{
            margin-right: 10px;
        }
    }
}

.projects{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project{
    margin: 20px;
    padding: 5px;
    text-align: center;
    box-shadow:  0px 0px 20px 3px #888888;
    a{
        img{
            width: 400px;
            height: 225px;
        }
    }
}

.contact-text{
    margin-top: -100px;
    font-size: 1.7em;
}

.contact-wrapper{

    padding: 20em 3em 3em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .connect{
        padding-top: 30px;
        
    
        .contact{
            display: flex;
            align-items: center;
    
            img{
                width: 30px;
                height: 30px;
                margin-right: 30px;
            }
            a{
                text-decoration: none;
                color: black;
            }
            margin: 20px 0px;
        }
    }
    
}


@media only screen and (min-width: 1124px){

    // .watermark{
    //     width: 25%;
    // }

    body .container{
        background-image: url('images/bg.jpg');
        background-size: cover;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: left;


        .title-text{
        
            h1{
                font-size: 3.5em;
 
            }
    
            h3{
                font-size: 1.5em;
            }
        }
    
        .btns{

            padding-top: 0;
    
            .project-btn{
                margin: 11px;
                font-size: 2em;
            }

        }

        .connect{
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
        
            .contact{
                display: flex;
                align-items: center;
        
                img{
                    width: 30px;
                    height: 30px;
                    margin-right: 30px;
                }
                a{
                    text-decoration: none;
                    color: black;
                }
                margin: 20px 0px;
            }
        }
    }



}

@media only screen and (min-width: 1450px){

    body .container{

        .title-text{
        
            h1{
                font-size: 4em;
 
            }
    
            h3{
                font-size: 1.7em;
            }
        }
    
        .btns{

            padding-top: 0;
    
            .project-btn{
                margin: 13px;
                font-size: 2.5em;

            }
        }
    }

    .projects{
        padding-top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .contact-wrapper{
        .connect{
            .contact{
                img{
                    width: 40px;
                    height: 40px;
                    margin-right: 40px;
                }
                a{
                    font-size: 1.4em;
                }
            
            }
        }

        .contact-text{
            font-size: 2em;
        }
        
    }
    

    
    

}

@media only screen and (min-width: 1680px){

    body .container{

        .title-text{
        
            h1{
                font-size: 4.3em;
 
            }
    
            h3{
                font-size: 2em;
            }
        }
    
        .btns{

            padding-top: 0;
    
            .project-btn{
                margin: 17px;
                font-size: 4em;

            }
        }
    }

    .project{
        margin: 20px;
        padding: 5px;
        text-align: center;
        box-shadow:  0px 0px 20px 3px #888888;
        a{
            img{
                width: 550px;
                height: 310px;
            }
        }
    }

    .contact-wrapper{
        .connect{
            .contact{
                img{
                    width: 40px;
                    height: 40px;
                    margin-right: 40px;
                }
                a{
                    font-size: 1.7em;
                }
            
            }
        }

        .contact-text{
            font-size: 2.4em;
        }
        
    }
    


}

